<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProjectV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ProjectV", "Index", "Projects", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Devices", "Index", "Devices")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] != null)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        <div class="row" style="position: relative">
            <div class="col-lg-12" style="position: absolute; left: 90%; padding-top: 5px;">
                @if (Session["User"] != null)
                {
                    var user = @Session["User"] as ProjectV_MVC.Models.mvcUser;
                    <p>Logged in as: <b>@user.Username</b></p>
                }
            </div>
            
        </div>
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/alertify.min.js"></script>
    @RenderSection("scripts", required: false)
<script>
        $(function ()
        {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage != '')
            {
                alertify.success(successMessage);
            }
        });

        $(function ()
        {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage != '')
            {
                alertify.error(errorMessage);
            }
        });

        $(function ()
        {
            var successMessage = '@TempData["LoginMessage"]';
            if (successMessage != '')
            {
                alertify.success(successMessage);
            }
        });

        $(function ()
        {
            var errorMessage = '@TempData["LoginError"]';
            if (errorMessage != '')
            {
                alertify.error(errorMessage);
            }
        });
</script>
</body>
</html>
